.div-form-pick{
    width: 90%;
    height: 24rem;
    border-radius: 10px;
    position: relative;
    top: -4rem;
    padding: 1.2rem;
}

.div-form-pick >p{
    margin-top: 3px;
    margin-bottom: 1.5rem;
}

.pick-div{
    display: flex;
    align-items: center;
    border: 1px solid var(--clr-n-gray-cool);
    border-radius: 8px;
    height: 4rem;
    margin-bottom: 10px;
    padding: 17px;
    cursor: pointer;
}

.pick-div:hover{
    border: 1.2px solid var(--clr-p-blue-purplish);
}

.pick-div.selected{
    background-color: var(--clr-n-Alabaster);
    border: 1.2px solid var(--clr-p-blue-purplish);
}

.pick-div.selected > .checkBox{
    background-color: var(--clr-p-blue-purplish);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pick-div > .checkBox{
    border: 1px solid var(--clr-n-gray-cool);
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 4px;
}

.pick-div .info{
    margin-left: 1rem;
}

.pick-div h2{
    font-size: .9rem;
    font-weight: 550;
    color: var(--clr-p-blue-marine);
}

.pick-div p{
    font-size: .73rem;
}

.price{
    margin-left: auto;
    color: var(--clr-p-blue-purplish);
    font-size: .75rem;
    font-weight: 500;
}

@media screen and (min-width:460px) {
    .div-form-pick{
        width: 400px;
    }
}

@media screen and (min-width:1000px) {
    .div-form-pick{
        top:0;
        width:100%;
    }

    .pick-div{
        height: auto;
    }
}