.div-form-info{
    width: 90%;
    height: 23.5rem;
    border-radius: 10px;
    position: relative;
    top: -4rem;
    padding: 1.25rem;
}
.div-form-info >p{
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: var(--clr-p-blue-marine);
    font-size: 0.8rem;
}

.form-input {
    width: 100%;
    padding-left: 0.95rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem;
    margin-bottom: 0.9rem;
}

.form-input::placeholder {
    color: var(--clr-n-gray-cool);
    font-weight: 500;
}
.form-input:focus {
border-color: #007bff;
outline: none;
box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media screen and (min-width:460px) {
    .div-form-info{
        width: 400px;
    }
}

@media screen and (min-width:1000px) {
    .div-form-info{
        top:0;
        width:100%;
    }
}