.setepBar{
    height: 25vh;
    background-image: url('../images/bg-sidebar-mobile.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.step > .num{
    color: var(--clr-n-White);
    font-weight: 450;
    margin-inline: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1.5px solid var(--clr-n-White);
    display: flex;
    justify-content: center;
    align-items: center;
}

.active > .num{
    background-color: var(--clr-p-blue-light);
    border: none;
    color: var(--clr-p-blue-marine);
}

.info-step{
    display: none;
}

@media screen and (min-width:1000px) {
    .setepBar{
        height: 80vh;
        width: 30%;
        background-image: url('../images/bg-sidebar-desktop.svg');
        border-radius: 15px;
        padding: 2rem;
        gap: 1.5rem;
        flex-direction: column;
        justify-content: flex-start;
    }

    .info-step{
        display: block;
        margin-left: .8rem;
    }

    .oneStep{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .info-step >p{
        font-size: 1rem;
        font-weight: 400;
    }

    .info-step >span{
        color: var(--clr-n-White);
        font-size: 1.05rem;
        font-weight: 400;
    }

}